// ------------------------------------- Animaux indépendants --------------------------------

.animaux {
    max-width: 1000px;
    margin: 0 auto;






    a {
        display: block;
        background-color: $vert;
        padding: 10px;
        width: 150px;
        margin-top: 20px;
        color: white;
        border: solid 1px $vert;

        &:hover {
            color: $vert;
            background: white;
            transition: 0.4s;
        }
    }

}

@media (max-width: $mobile_size) {
  .animaux  {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    p {
        margin-left: 50px;
        margin-right: 50px;
    }
  }
}


// -----------------------------------Page principale------------------------------------------
.conservation {
    text-align: center;

    h1 {
        color: $brun;
    }

    h2 {
        color: $brun;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
}
// -----------------------------------------------------------------------------

.my-tab-btns {
    ul {
        list-style: none;
        text-align: center;

        li {
            a {
                display: block;
                margin: 0 20px;

                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

.my-tabs .my-tab {
    display: none;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
//  ---------------------- Continents couleurs individuelles ----------------------------

.amerique_nord {
    text-align: center;

    h2 {
        border: 1px solid #F5CD11;
        width: 80%;

        &:hover, &.highlight {
            color: white;
            background-color: #F5CD11;
            transition: 0.5s;

            a {
                color: white;
            }
        }
    }

    a {
        font-family: $titre;
        color: $brun;
        font-size: 30px;
    }
}

.europe {
    text-align: center;

    h2 {
        border: 1px solid #5395B8;
        width: 80%;

        &:hover, &.highlight {
            color: white;
            background-color: #5395B8;
            transition: 0.5s;

            a {
                color: white;
            }
        }
    }

    a {
        font-family: $titre;
        color: $brun;
        font-size: 30px;
    }
}

.asie {
    text-align: center;

    h2 {
        border: 1px solid #AF4B83;
        width: 80%;

        &:hover, &.highlight {
            color: white;
            background-color: #AF4B83;
            transition: 0.5s;

            a {
                color: white;
            }
        }
    }

    a {
        font-family: $titre;
        color: $brun;
        font-size: 30px;
    }
}

.amerique_sud {
    text-align: center;

    h2 {
        border: 1px solid #93C021;
        width: 80%;

        &:hover, &.highlight {
            color: white;
            background-color: #93C021;
            transition: 0.5s;

            a {
                color: white;
            }
        }
    }

    a {
        font-family: $titre;
        color: $brun;
        font-size: 30px;
    }
}

.afrique {
    text-align: center;

    h2 {
        border: 1px solid #F19109;
        width: 80%;

        &:hover, &.highlight {
            color: white;
            background-color: #F19109;
            transition: 0.5s;

            a {
                color: white;
            }
        }
    }

    a {
        font-family: $titre;
        color: $brun;
        font-size: 30px;
    }
}

.australie {
    text-align: center;

    h2 {
        border: 1px solid #2D2C77;
        width: 80%;

        &:hover, &.highlight {
            color: white;
            background-color: #2D2C77;
            transition: 0.5s;

            a {
                color: white;
            }
        }
    }

    a {
        font-family: $titre;
        color: $brun;
        font-size: 30px;
    }
}

// -------------------------------------- Map ------------------------------------

.map g:hover path {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
  transition: fill 0.3s;
  cursor: pointer;
}

.map {
  max-width: 800px;
  margin: 0 auto;
}





// ------------------------- Recherche --------------------------

.recherche_inf, .recherche_sup {
    text-align: center;
}

.intro_recherche {
    text-align: justify;
}
