section.formulaire {
    color: $brun;

    form {
        margin: 0 auto;
        width: 500px;
        padding: 1em;
        border: 1px solid #CCC;

        div {
            margin-top: 1em;
        }

        label {
          display: inline-block;
          width: 90px;
          text-align: right;
        }

        input, textarea {
          font: 1em sans-serif;
          width: 300px;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          border: 1px solid #999;
        }

        input:focus, textarea:focus {
          border-color: #000;
        }

        textarea {
            vertical-align: top;
            height: 5em;
            resize: vertical;
            margin-bottom: 10px;
        }

        button {
            padding-left: 90px;
            // margin-left: 0.5em;

            margin: 0 auto;

            color: $brun;
            background-color: white;
            border: 1px solid $brun;

            &:hover {
                color: white;
                background-color: $brun;
                transition: 0.2s;
            }
        }
    }
}
// .contact_form {
//   div {
//     margin: 10px;
//   }
// }
