h1 {
    color: $brun;
    font-size: 30px;
    text-align: center;
}

.archive {

}

.contenu {
    color: $brun;
    margin-bottom: 100px;

    // &.zoom {
    //   width: 100%;
    //   img {
    //     display: block;
    //     text-align: center;
    //   }
    // }

    .video{
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 56.25%;

     }

     .video iframe{
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
     }

    .lien_liste_actu {
            text-align: center;
    }

    img {
        display: block;
    }

    h2 {
        font-family: $titre;
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
    }

    .more-link {
      display: inline-block;
    }

    a {
        background-color: $vert;
        padding: 10px;
        margin: 20px;
        color: white;
        border: solid 1px $vert;
        border-radius: 5px;

        &:hover {
            color: $vert;
            background: white;
            transition: 0.4s;
        }
    }
}



@media (max-width: $mobile_size) {
    .contenu {
        a,
        p {
            margin: 40px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1000px) {
    .contenu {
        a,
        p {
            margin: 40px;
        }

    }
}


// -------------------------------- Zoom Article ------------------------------------


// ---------------------------------- Lien -----------------------------------------
.lien a {
    display: block;
    background-color: $rouge;
    padding: 10px;
    width: 150px;
    margin: 0 auto;
    margin-top: 40px;
    color: white;
    border: solid 1px $rouge;

    &:hover {
        color: $brun;
        background: white;
        transition: 0.4s;
    }
}
