h1 {
    color: $brun;
    font-size: 30px;
    text-align: center;
}

.contenu {
    color: $brun;

    p {
        margin-top: 0px;
        text-align: justify;
    }

    img {
        display: block;
        // margin: 0 auto;
    }

    h2 {
        font-family: $titre;
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
    }

    .more-link {
      display: inline-block;
    }

    a {
        background-color: $vert;
        padding: 10px;
        margin: 20px;
        color: white;
        border: solid 1px $vert;
        border-radius: 5px;

        &:hover {
            color: $vert;
            background: white;
            transition: 0.4s;
        }
    }
}



@media (max-width: $mobile_size) {
    .contenu {
        a,
        p {
            margin: 40px;
        }

        img {
            width: 85%;
        }
    }
}


// -------------------------------- Zoom Article ------------------------------------
